.home-background{
    background-color: rgb(221, 216, 210);
    height: 80vh;
    width: 100vw;
    background-image: url('../Images/170827.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-para{
    text-align: right;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: end;
    color: White;
    padding-top: 100px;
    padding-right:80px ;
   
}

.home-para  h1{
    font-size: 4.5rem;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.home-para  h3{
    font-size: 1.5rem;
    
  
}

 @media only screen and (max-width: 768px) {



.home-para{
    
    padding-top: 100px;
    padding-right:40px ;
}

.home-para  h1{
    font-size: 3rem;
    /* border: 2px solid red; */
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.home-para  h3{
    font-size: 1rem;
    /* border: 2px solid green; */
  
}

}


@media only screen and (max-width: 640px) {
    .home-para{
    
        padding-top: 100px;
        padding-right:30px ;
    }
    
    .home-para  h1{
        font-size: 3.2rem;
        /* border: 2px solid red; */
        padding-bottom: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(231, 115, 5);
        text-shadow: 4px 4px 4px black;
    }
    
    .home-para  h3{
        font-size: 1.2rem;
        /* border: 2px solid green; */
        color:rgb(233, 124, 15);
        background-color: rgba(38, 39, 39, 0.445)
        ;
        text-shadow: 2px 2px 2px rgb(10, 10, 10);
    }
    
}