.container{
    width: 100vw;
    display: flex;
justify-content: space-between;
align-items: center;
     background-color: rgb(7, 7, 7);
    
}

.heading{
    
    padding: 20px;
  
    
}

.nameStyle{
     padding-left: 40px;
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     display:inline;
     font-weight: 500;
     font-size: 2.5rem;
 
}


.rightmenu{
   padding-inline: 2px;
  
}

.menu{
    color: rgb(248, 96, 9);
   padding: 2px 2px;
   margin: 0px 5px;
   text-decoration: none;
  
   border-radius:25px;
   transition: transform 250ms;
      
}

.menu:hover {
    transform: translateY(-20px);
    background: rgb(194, 153, 120);
    color: black;
  }