.container{
    width: 100vw;
    height: 10vh;
    display: flex;
justify-content: space-between;
align-items: center;
     background-color: rgb(7, 7, 7);
   
}

.heading{
    
    padding: 20px;
  
    
}

.nameStyle{
     padding-left: 40px;
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     display:inline;
     font-weight: 500;
     font-size: 2.5rem;
     text-decoration: none;
 
}


.rightmenu{
   padding-inline: 10px;
  
}

.menu{
    color: rgb(248, 96, 9);
   padding: 2px 2px;
   margin: 0px 5px;
   text-decoration: none;
  
   border-radius:25px;
   transition: ease-in 0.3s;
      
}

.menu:hover {
    /* transform: translateY(-20px); */
    background: rgb(244, 195, 155);
    color: black;
  }





  @media only screen and (max-width: 768px) {
.container{
    width: 100vw;
    height: 10vh;
    }

  
.nameStyle{
     padding-left: 20px;
    
     font-weight: 500;
     font-size: 1.5rem;
 
}


.rightmenu{
   padding-inline: 5px;
  
}

.menu{
    font-size: 0.8rem;
    color: rgb(248, 96, 9);
   padding: 2px 2px;
   margin: 0px 5px;
   text-decoration: none;
  
   border-radius:25px;
   transition: ease-in 0.3s;
      
}

.menu:hover {
    /* transform: translateY(-20px); */
    background: rgb(244, 195, 155);
    color: black;
  }



  }

 @media only screen and (max-width: 640px) {
    .container{
        width: 100vw;
        height: 10vh;
        }
    
      
    .nameStyle{
         padding-left: 20px;
        
         font-weight: 500;
         font-size: 1.2rem;
     
    }
    
    
    .rightmenu{
       padding-inline: 15px;
      
    }
    
    .menu{
        font-size: 0.7rem;
        color: rgb(248, 96, 9);
       padding: 2px 2px;
       margin: 0px 5px;
       text-decoration: none;
      
       border-radius:25px;
       transition: ease-in 0.3s;
          
    }
    
    .menu:hover {
        /* transform: translateY(-20px); */
        background: rgb(244, 195, 155);
        color: black;
      }
    

  }



 