.formsize{
    height: 77vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(174,126,126,1) 0%, rgba(235,62,6,1) 100%);
    padding-left: 30%;
    padding-top: 5%;
}

.inputSize{
   width: 250px; 
   height: 30px;
   font-size: 0.9rem;

}

.inputName{
    padding-right:40px;
    
}

.section{
    padding-bottom: 10px;
}

.inputSizeMessage{
    width: 250px; 
    height: 100px;
   
}

.inputSizeMessage1{
    width: 250px; 
    height: 100px; 
}

.submit{
    width: 100px; 
    margin-left: 100px;
    margin-top: 20px;
   
}


.my-contact{
    padding-top: 60px;
    padding-left: 50px;
    font-size: 1.20rem;
    font-weight: 470;

}